#navMenuLeft  {
	z-index: 100;
/*	background-color: red;
	min-width: 300px;*/
	position: relative;
	
}

/*#controlGroupLeft .ui-controlgroup-controls {
	z-index: 100;
	position: absolute;	
}*/


.fileinput-button {
  position: relative;
  overflow: hidden;
  !float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.hiddenfile {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.mapClass{
	width:100%;
	min-height:inherit;
	overflow:hidden;
	display:block;
}

.ui-panel-content-wrap{
/*	border: solid 10px green;*/
	!max-height: 100px;
}

.jqm-pfc{
	min-height: 200px; !important;
	
}

.jqm-content {
	!max-height: 300px;
/*	border: solid 10px black;*/
}
.jqm-wrapper-content {
	min-height: inherit;
}

.jqm-divCentralContentMin {
	margin: 0 auto 0; 
	padding-bottom: 1em; 
	max-width: 450px !important;
	min-height: inherit;
	!min-height: 533px;
}

.jqm-divCentralContentMax {
	style: margin: 0 auto 0; 
	padding-bottom: 1em; 
	max-width: 100% !important;
	!min-height: inherit; !important;
	min-height: 533px; !important;
}

.jqm-listadoDiv {
	width: 100%; 
	!max-height: 533px; 
	min-height: inherit; !important;
	overflow-y: scroll;
	!border: solid 10px black;
	!background-color: red;
}

.jqm-listFqEventos {
	width: 95%; 
	margin: 15px;
}

.ui-content .ui-listview, .ui-panel-inner > .ui-listview{
	margin: 30px;
}

/* Header */
.jqm-header {
/*	text-align: right;
	!background: #fff;
	border-top: 10px solid #6ABA2F;
	border-bottom: 1px solid #e0e0e0;
	color: #777;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
	box-shadow: 0 0 5px rgba(0,0,0,.15);
	min-height: 30px;*/
}

.jqm-navmenu-left{
	text-align: left;
	width: 100%;
/*	float: left;*/
}

.jqm-navmenu-right{
	text-align: right;
	width: 100%;
/*	float: right;*/
}

.jqm-header .jqm-navmenu-link {
/*	background-color: transparent;*/
/*    width: 45px;
   height: 45px;*/	
    top: 0px;
}

.jqm-header .ui-btn {
/*    width: 45px;
    height: 45px;*/	
/*    top: 0px;*/
}
.jqm-header .ui-btn .ui-btn-inner .ui-icon{
/*	margin: 0px;
	box-shadow: 0 0 0 rgba(255, 255, 255, 0.0);*/
} 
/*.ui-header .ui-btn, .ui-header .ui-icon, .ui-header .ui-btn-inner {
    width: 45px;
    height: 45px;
}
.ui-header .ui-btn-inner .ui-icon{
    margin: 0px;
    border-radius: 0;
}
.ui-header {
    height: 60px;
}*/

h2.legend {
    background-color: #FFFFFF;
    margin: -35px 0 0 -5px;
    max-height: 28px;
    max-width: 700px;
    overflow: hidden;
    padding: 0 5px;
    position: absolute;
}

.floatleft {
    float: left;
}

.jqm-content ul {
    list-style: none outside none;
}
.jqm-content li {
    line-height: 24px;
}

.clear {
    clear: both;
}

.detalleImagen{
	max-height: 180px;
    max-width: 150px;
}